.add-question-form {
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.form-option {
    display: flex;
}

.add-question-form input {
    padding: 8px;
    border-radius: 10px;
    margin: 2px;
    width: 200px;
}

.form-option .add-option {
    margin-left: 100px;
}

.form-option .checkbox {
    margin-top: 15px;
    width: 110px;
    background-color: blue;
}

input[type=checkbox] {
    transform: scale(2);
}


.add-question-form .add-question-input {
    width: 250px;
    height: 50px;
    margin: 15px;
}