* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 20px;
}

::-webkit-scrollbar {
    width: 0.6vw;
}

::-webkit-scrollbar-thumb {
    background-color: #04A777;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

button {
    background-color: royalblue;
    padding: 8px;
    border-radius: 8px;
    margin: 4px;
}

:hover button {
    cursor: pointer;
}

.pop :hover {
    cursor: pointer;
    transform: scale(1.1);
}
