nav {
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav :hover {
    cursor: pointer;
    color: red;
}

nav p {
    padding: 30px;
    font-size: 25px;
}