.navbar {
    background-color: black;
    height: 45px;
    width: 100%;
    position: fixed;
    top: 0;
}

.username {
    position: fixed;
    top: 12px;
    right: 10px;

    font-size: 16px;
    color: white;
}

.dp {
    position: fixed;
    top: 8px;
    right: 16px;

    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-top: 0px;
    margin-left: 100px;
}

.icon {
    width: 30px;
    height: 30px;
    padding: 5px 15px;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.16);
}