.question-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #E9FFF9; */
}

.question {
    width: 400px;
    margin-left: 1px;
    margin-top: 30px;
    border: 2px solid black;
}

.options :hover{
    cursor: pointer;
    background-color: #EEEEEE;
}

.title {
    font-size: 20px;
    margin-top: 0px;
    background-color: black;
    color: white;
    padding: 20px;
}

.title :hover{
    background-color: black;
}

.option {
    margin-top: 0px;
    padding: 10px;
    font-size: 16px;
}