

.question-container {
    border: 3px solid black;
    margin: 10px;
}

.quiz-title {
    color: white;
}

.question {
    background-color: black;
    color: white;
    padding: 20px;
    width: 500px;
}

.options {
    background-color: white;
    color: black;
    /* border: 2px solid black; */
    padding: 8px;
    width: 520px;
}

.options :hover{
    cursor: pointer;
    background-color: #EEEEEE;
}