.quiz-container {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 600px;
}

.quizzes {
    display: flex;
}

.quizzes div {
    background-color: #7FB800;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 140px;

    margin: 20px;
    border-radius: 20px;
}

.quiz {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #007FFF;
    color: white;

    height: 140px;
    width: 260px;

    margin: 100px 20px;
    font-size: 30px;
    border-radius: 15px;
}

.quiz-container :hover {
    cursor: pointer;
}