.quiz-list {
    background-color: #E9FFF9;
    margin-top: 90px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.quiz-list div {
    background-color: #04A777;
    background-color: #046865;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 140px;

    margin: 30px 20px;
    border-radius: 20px;
}

div .quiz-list :hover {
    cursor: pointer;
    z-index: 100px;
    transform: scale(1.07);
}

.quiz {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #007FFF;
    color: white;

    height: 140px;
    width: 260px;

    margin: 100px 20px;
    font-size: 30px;
    border-radius: 15px;
}