.register-container {
    height: 500px;
    color: black;
    text-align: center;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 15px;
    border-radius: 5px;
}

.tag-container {
    margin: 30px;
    padding: 15px;
    width: 30%;
    background-color: black;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    margin: 4px;
    padding: 8px;
    width: max-content;
    border-radius: 20px;
}